<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="assert/styles/iview.css">
    <link rel="stylesheet" type="text/css" href="assert/styles/main.css">
    <script type="text/javascript" src="assert/vue.min.js"></script>
    <script type="text/javascript" src="assert/iview.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript" src="assert/main.js"></script>
</head>
<body>
<div id="app">
    <div class="layout">
        <Menu mode="horizontal" theme="dark" active-key="1">
            <div class="layout-logo"></div>
            <div class="layout-nav">
                <Menu-item key="1">
                    <Icon type="ios-navigate"></Icon>app-bot-java
                </Menu-item>
            </div>
        </Menu>
        <div class="layout-content" style="clear:both;">
            <Row>
                <i-col span="5">
                    <Menu active-key="1-2" width="auto" :open-keys="['1']" @on-select="click">
                        <Submenu key="1">
                            <template slot="title">
                                <Icon type="ios-navigate"></Icon>soul
                            </template>
                            <Menu-item key="soul-do-like">点赞</Menu-item>
                            <Menu-item key="soul-comment">评论</Menu-item>
                            <Menu-item key="soul-star-match">匹配</Menu-item>
                            <Menu-item key="soul-auto-chat">聊天</Menu-item>
                        </Submenu>
                        <Submenu key="2">
                            <template slot="title">
                                <Icon type="ios-keypad"></Icon>抖音
                            </template>
                            <Menu-item key="doyin-comment-dolike">对评论点赞</Menu-item>
                            <Menu-item key="2-2">选项 2</Menu-item>
                        </Submenu>
                        <Submenu key="3">
                            <template slot="title">
                                <Icon type="ios-analytics"></Icon>导航三
                            </template>
                            <Menu-item key="3-1">选项 1</Menu-item>
                            <Menu-item key="3-2">选项 2</Menu-item>
                        </Submenu>
                    </Menu>
                </i-col>
                <i-col span="19">
                    <div class="layout-content-main">
                    	<div style="background:#eee;padding: 20px">
				        <Card :bordered="false" style="height:450px;">
				            <p slot="title">console</p>
				            <a v-if="showStopBtn" href="#" slot="extra" @click.prevent="stop">
					            <i-button type="primary" shape="circle">停止</i-button>
					        </a>
				            <div style="height: 100%;">
				            	<p>{{ msg }}</p>
				            	<p v-for="item in mstData" :key="item">{{ item }}</p>
				            </div>
				        </Card>
				    </div>
                    </div>
                </i-col>
            </Row>
        </div>
        <div class="layout-copy">
            2011-2016 &copy; TalkingData
        </div>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            visible: false,
            stompClient: null,
            showStopBtn: true,
            msg: "",
            mstData: []
        },
        created: function() {
        	this.connectSocket()
        },
        methods: {
            show: function () {
                this.visible = true
            },
            connectSocket: function() {
            	let that = this
            	var socket = new SockJS('/app-bot')
            	that.stompClient = Stomp.over(socket)
            	that.stompClient.connect({}, function (frame) {
                    console.log('Connected: ' + frame)
                    that.msg = "已成功连接连接socket，欢迎使用！"
                    that.stompClient.subscribe('/topic/greetings', function (greeting) {
                        console.log('greetings: ' + greeting)
                        var temp = JSON.parse(greeting.body).body
                      	that.mstData.push(temp)
                    })
                })
            },
            click: function(name) {
            	this.showStopBtn = true
            	this.sendMsg("start", name)
            },
            sendMsg: function sendMsg(path, message) {
            	this.stompClient.send("/msg/" + path, {}, JSON.stringify({'name': message}));
            },
            disconnect: function() {
                if (stompClient !== null) {
                	this.stompClient.disconnect();
                }
                console.log("Disconnected");
            },
            stop: function() {
            	this.stompClient.send("/msg/stop", {}, JSON.stringify({'name': 'stop'}));
            }
            
        }
    })
  </script>
</body>

</html>